<template>
		<div class='mx-6 my-2'>
			<v-row>
				<v-col cols='11'>
					<h1 class="text-h3">Account</h1>

				</v-col>
				<v-col cols='1'>
					<v-spacer></v-spacer>
					<v-btn @click='edit=!edit' :class="!edit ? 'primary white--text':''" icon x-large>
	                        <v-icon>mdi-circle-edit-outline</v-icon>
	                    </v-btn>
				</v-col>
			</v-row>
			<v-form ref='shops' v-model="valid">
				<v-row>
					<!-- fname: '',lname:'',dob:'',phone:'',street:'',city:'',country:'',postal_code:''} -->
					<v-col cols="6" sm="12" md="6">
						<v-text-field v-model="account.fname" :rules="[rules.required]" label="First Name" maxlength="20" required :disabled='edit'></v-text-field>
					</v-col>
					<v-col cols="6" sm="12" md="6">
						<v-text-field v-model="account.lname" :rules="[rules.required]" label="Last Name" maxlength="20" required :disabled='edit'></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="4" sm="12" md="4">
						<v-text-field type='date' disabled v-model="account.dob" :rules="[rules.required]" label="Date of Birth"  required :disabled='edit'></v-text-field>
					</v-col>
					<v-col cols="4" sm="12" md="4">
						<v-text-field type='number' disabled v-model="account.phone" :rules="[rules.required]" label="Phone" maxlength="20" required :disabled='edit'></v-text-field>
					</v-col>
					<v-col cols="4" sm="12" md="4">
						<v-text-field v-model="account.street" :rules="[rules.required]" label="Street" maxlength="20" required :disabled='edit'></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-col cols="12" sm="12" md="6">
						<v-text-field v-model="account.city" :rules="[rules.required]" label="City" maxlength="20" required :disabled='edit'></v-text-field>
					</v-col>
					<v-col cols="12" sm="12" md="6">
						<v-text-field v-model="account.country" :rules="[rules.required]" label="Country" maxlength="20" required :disabled='edit'></v-text-field>
					</v-col>
				<v-btn color="primary" v-if='!edit'  :disabled='!valid'> Update </v-btn>
			</v-row>
		</v-form>
		</div>
</template>
<style></style>
<script>
	export default{
		name:'account',
		data()
		{
			return {
				edit:true,
				location:'',
				valid:true,
				account:{ fname: '',lname:'',dob:'',phone:'',street:'',city:'',country:'',postal_code:''},
				rules: {
		  		  required: value => !!value || "Required.",
		  		  min: v => (v && v.length >= 5) || "Min 5 characters"
		  		}
			}
		},
		mounted(){
			this.valid = false;
			let token = localStorage.getItem('token');
			axios.get(`/api/account`, { params: {'token': token } }).then(res =>{
				let shopkeeper = res.data.shopkeeper;
				// this.shop = {shop_name:shop.name,location:shop.location,latitude:shop.latitude,longitude:shop.longitude,address:shop.Address}
				console.log(res.data);
               this.account={ fname: shopkeeper.f_name,lname:shopkeeper.l_name,dob:shopkeeper.dob,phone:shopkeeper.phone,street:shopkeeper.street,city:shopkeeper.city,country:shopkeeper.country_id,postal_code:shopkeeper.postal_code};
            }).catch(err => {
            	console.log(err);
                // if(err.response.status==401)
                // {
                // 	localStorage.removeItem('token');
                // 	this.$router.push('/login');
                // }
            });
		}
	}
</script>