<template>
    <div>
        <v-snackbar v-model="snackbar">
            {{ text }}
            <template v-slot:action="{ attrs }">
                <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
                    Close
                </v-btn>
            </template>
        </v-snackbar>
        <!-- dialog of Edit Category -->
        <v-dialog v-model='dialogEdit' width='500'>
            <v-card> 
                <v-toolbar class="headline indigo accent-3 white--text">
                    <v-btn @click='dialogEdit=!dialogEdit' class='white--text' icon>
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                    <v-card-title>
                        Update Category
                    </v-card-title>
                </v-toolbar>
                <v-card-text>
                    <v-text-field label='Name' v-model='editCat.name' :rules='categoryRules' :error-messages='error'></v-text-field>
                    <v-textarea label='Description' v-model='editCat.description' :rules='categoryRules' :error-messages='error'></v-textarea>
                   
                    <v-divider></v-divider>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn class='indigo accent-3' @click='updateCategories'>Update Category</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!-- dialog of Edit Category -->
        <v-card>
            <!-- dialog of Add new Category -->
            <v-spacer></v-spacer>
            <v-dialog v-model='dialogAdd' width='500'>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn color="indigo accent-3" v-bind="attrs" v-on="on" class='float-left white--text float-right mt-8' fab >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <!-- delete All btn -->
                    <v-btn :disabled='disabled' @click='deleteAll' fab class='float-right mt-8 ml-4 mr-4' :id="selected.length>0 ? 'green':'' " icon>
                        <v-icon color='red' x-large>mdi-delete</v-icon>
                    </v-btn>
                    <!-- delete All btn -->
                </template>
                <v-card>
                    <v-toolbar class="headline indigo accent-3 white--text">
                        <v-btn @click='dialogAdd=!dialogAdd' class='white--text' icon>
                            <v-icon>mdi-arrow-left</v-icon>
                        </v-btn>
                        <v-card-title>
                            Add Category
                        </v-card-title>
                    </v-toolbar>
                    <v-card-text>
                        <v-text-field label='Name' v-model='category.name' :rules='categoryRules' :error-messages='error'></v-text-field>
                        <v-textarea label='Description' v-model='category.description' :rules='categoryRules' :error-messages='error'></v-textarea>
                        
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="indigo accent-3 white--text" @click="addCategory">
                            Add
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <!-- dialog of Add new Category -->
            <!-- data table -->
            <v-card-title>
                <v-text-field label='Search' v-model='search'></v-text-field>
            </v-card-title>
            <!-- @pagination='paginate' will call call method of paginate and according to 5,10,15 record is loaded it reduce requests 
						laravel will send the object of array (data) which have all the data according to itemPerPage
					server-items-length 

					-->
            <v-data-table 
	            :headers="headers" 
	            :items="categories.data" 
	            :items-per-page="5" 
	            :search='search' 
	            @pagination='paginate' 
	            :loading='loading' 
	            class="elevation-1" 
	            :footer-props="{
					'items-per-page-options':[5,10,15],
					'items-per-page-text':'Categories Per Page',
					'show-current-page':true,
					'show-first-last-page':true}" 
				:server-items-length='categories.total' 
				show-select 
				@input='selectAll'>
               
                <!-- items wo tamam record jis ma action me 2 cheze aegi edit/delete -->
                <template v-slot:item.action='{item}'>
                    <v-btn icon @click='editCategory(item)'>
                        <v-icon color="indigo accent-3" btn>mdi-circle-edit-outline</v-icon>
                    </v-btn>
                    <v-btn icon @click='deleteCategory(item)'>
                        <v-icon color="red" btn>mdi-delete</v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>
        
    </div>
</template>
<script>
export default {
    name: 'categories',
    data() {
        return {
            disabled: true, //for deleteAll
            snackbar: false,
            text: '',
            search: '',
            dialogAdd: false,
            dialogEdit: false,
            loading: false,
            item: null,
            selectedCat:'Select Parent Category',
            error: '',
            category: { name: '', description: '' },
            editCat: { name: '', description: ''  },
            cat: [],
            selected: [],
            headers: [
                { text: '#', value: 'id', filterable: true },
                { text: 'Name', value: 'name' ,sortable:true},
                { text: 'Description', value: 'description' },
                { text: 'Created At', value: 'created_at' },
                { text: 'Updated At', value: 'updated_at' },
                { text: 'Actions', value: 'action' }
            ],
            categories: [],
            categoryRules: [
                v => !!v || 'Field is Required',

            ]

        }
    },
    methods: {
        selectAll(e) {
            this.selected = []; //empty 
            if (e.length > 0) {
                this.selected = e.map(val => val.id);

            }
        },
        paginate(e) {
            //we send page and itemPerPage with laravel automatic
            //check page and send automatic itemperpage -->if itemPerPage is
            //5 then laravel send 5 record
            //e have page?1,5,10 and e have itemsPerPage 
        //receptor start
        axios.interceptors.request.use(e=>(this.loading=!0,e),e=>(this.loading=!1,Promise.reject(e))),axios.interceptors.response.use(e=>(this.loading=!1,e),e=>(this.loading=!1,Promise.reject(e)));
        //receptor end
           // import {receptor} from './receptor.js';
            let token = localStorage.getItem('token');
            axios.get(`/api/categories?page=${e.page}`, { params: { 'per_page': e.itemsPerPage } }).then(res => {
                    this.categories=res.data.categories
                
            }).catch(err => {
                if(err.response.status==401)
                {
                	localStorage.removeItem('token');
                	this.$router.push('/login');
                }
            });
        },
        deleteAll() {
            if (this.selected.length > 0) {
                axios.post('/api/categories/delete', { 'categories': this.selected })
                    .then(res => {
                        this.text = 'Record Deleted Succesfully';
                        this.selected.map(val => {
                            const index = this.categories.data.indexOf(val);
                            this.categories.data.splice(index, 1);
                        });
                        this.snackbar = true;
                        this.disabled = true;
                        //map execute for every index it remove according
                        //to index one by one
                    })
                    .catch(err => {
                        this.text = 'Failed to Delete';
                        this.snackbar = true;
                        console.log(this.selected.length);
                    });
            } else
                this.text = 'First Select The Roles';
        },
        updateCategories()
        {
           
            
            let index = this.categories.data.indexOf(this.item);
            this.dialogEdit = false;
            axios.put('/api/categories/' + this.item.id, {"name":this.editCat.name,'description':this.editCat.description})
                .then(res => {
                   
                    Object.assign(this.categories.data[index], res.data.category);
                    this.text = 'Record Updated Successfully';
                    this.snackbar = true;
                }).catch(err => {
                   // console.log(err);
                    this.dialogEdit=true;
                    this.error=err.response.data.status;
                    
                });
        },
        addCategory() {
            this.dialogAdd = false;
           
            axios.post('/api/categories', { "name":this.category.name,'description':this.category.description})
                .then(res => {
                   this.categories.data.push(res.data.category);
                    
                    this.dialogAdd = false;
                    this.category.name = '';
                    this.category.description = '';
                    this.text = 'Record Added Successfully';
                    this.snackbar = true;
                    this.error = '';
                    
                })
                .catch(err => {
                    this.dialogAdd = true;
                    this.error = err.response.data.status;
                });
        },
        editCategory(item) { //error
            this.dialogEdit = true;
            // console.log(item);
            this.editCat = {name: item.name, description: item.description};
            this.item = item;
        },
        deleteCategory(item) {
            let index = this.categories.data.indexOf(item); // record index to remove from array
            axios.delete('/api/categories/' + item.id).then(res => {
                this.categories.data.splice(index, 1); //remove from array when deleted from DB
                this.text = 'Record Deleted Successfully';
                this.snackbar = true;
            });
        }
    },
    watch: {

        selected(newValue, oldValue, ) //if the selected have value
        {
            if (newValue.length != '') //have some data
                this.disabled = false; //disable will remove

            else
                this.disabled = true; //enable the disable
            //if(selected record is greater than 1 then button is active otherwise it is disabled)
            if (this.selected.length > 1)
                this.disabled = false
            else
                this.disabled = true;
        }
    },
    //props:['albert']

}

</script>
<style></style>
