<template>
	<div>

		<v-row class='mt-4'>
			<v-col cols='12' md='4' sm='4' xs='12'>
				<v-card class="mt-4 mx-auto" color='#ff004e' max-width="400">
					<v-sheet class="v-sheet--offset mx-auto white--text" color="#da0346" elevation="12" max-width="calc(100% - 32px)">
						<v-card-title>
							<v-icon color='white' x-large>mdi-view-dashboard-variant-outline</v-icon>
							<v-spacer></v-spacer>
							<h1 class="">{{products}}</h1>
						</v-card-title>
					</v-sheet>
					<v-card-text class="pt-0">
						<div class="text-h6 font-weight-light mb-2 white--text"> Total Products Uploaded </div>
						<div class="subheading font-weight-light white--text" color='white'> Last Campaign Performance </div>
						<v-divider class="my-2"></v-divider>
						<v-icon class="mr-2" small> mdi-clock </v-icon> <span class="text-caption white--text font-weight-light">last products are uploaded 26 minutes ago</span> </v-card-text>
				</v-card>
			</v-col>
			<v-col cols='12' md='4' sm='4' xs='12'>
				<v-card class="mt-4 mx-auto" color='#01ffd8' max-width="400">
					<v-sheet class="v-sheet--offset mx-auto white--text" color="#03dab9" elevation="12" max-width="calc(100% - 32px)">
						<v-card-title>
							<v-icon color='white' x-large>mdi-view-dashboard-variant-outline</v-icon>
							<v-spacer></v-spacer>
							<h1 class="">{{categories}}</h1>
						</v-card-title>
					</v-sheet>
					<v-card-text class="pt-0">
						<div class="text-h6 font-weight-light mb-2 black--text"> Total Categories Created </div>
						<div class="subheading font-weight-light black--text" > Last Campaign Performance </div>
						<v-divider class="my-2"></v-divider>
						<v-icon class="mr-2" small> mdi-clock </v-icon> <span class="text-caption black--text font-weight-light">last categories are uploaded 26 minutes ago</span> </v-card-text>
				</v-card>
			</v-col>
			<v-col cols='12' md='4' sm='4' xs='12'>
				<v-card class="mt-4 mx-auto" color='#fa7600' max-width="400">
					<v-sheet class="v-sheet--offset mx-auto white--text" color="#d66703" elevation="12" max-width="calc(100% - 32px)">
						<v-card-title>
							<v-icon color='white' x-large>mdi-view-dashboard-variant-outline</v-icon>
							<v-spacer></v-spacer>
							<h1 class="">{{brands}}</h1>
						</v-card-title>
					</v-sheet>
					<v-card-text class="pt-0">
						<div class="text-h6 font-weight-light mb-2 white--text"> Total Brands Created </div>
						<div class="subheading font-weight-light white--text" color='white'> Last Campaign Performance </div>
						<v-divider class="my-2"></v-divider>
						<v-icon class="mr-2" small> mdi-clock </v-icon> <span class="text-caption white--text font-weight-light">last products are uploaded 26 minutes ago</span> </v-card-text>
				</v-card>
			</v-col>
		</v-row>
		<v-row>
			<v-col cols='12'>
				<v-card class="mx-auto text-center" color="indigo" dark max-height="600">
					<v-card-text>
						<div class="text-h4 font-weight-thin">Overview</div>
					</v-card-text>
					<v-card-text>
						<v-sheet color="rgba(0, 0, 0, .12)">
							<v-sparkline :value="value" color="rgba(255, 255, 255, .7)" height="100" padding="24" stroke-linecap="round" smooth>
								<template v-slot:label="item"> {{ item.value }} </template>
							</v-sparkline>
						</v-sheet>
					</v-card-text>
					<v-divider></v-divider>
					<v-card-actions class="justify-center">
						<v-btn block text to='/admin/products'> Upload More product </v-btn>
					</v-card-actions>
				</v-card>
			</v-col>
		</v-row>
	</div>
</template>
<style></style>
<script>
	export default{
		name:'dashboard',
		data()
		{
			return {
				products:null,
				brands:null,
				categories:null,
				value: []

			}
		},
		methods:{
			welcome()
			{
				alert('hi');
			}
		},
		mounted()
		{
			axios.post('/api/products/dashboard',{})
                .then(res=>{
                    this.products = res.data.products;
                    this.value = res.data.price;
                    this.brands = res.data.brands;
                    this.categories = res.data.categories;
                  
                });
                
		}
	}
</script>
<style scoped>
	 .v-sheet--offset {
    top: -24px;
    position: relative;
  }
</style>