<template>
    <div>
        <v-snackbar v-model="snackbar">
            {{ text }}
            <template v-slot:action="{ attrs }">
                <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
                    Close
                </v-btn>
            </template>
        </v-snackbar>
        <!-- dialog of Edit Category -->
        <v-dialog v-model='dialogEdit' width='700'>
            <v-card> 
                <v-toolbar class="headline white--text" color='#6208F9'>
                    <v-btn @click='dialogEdit=!dialogEdit' class='white--text' icon>
                        <v-icon>mdi-arrow-left</v-icon>
                    </v-btn>
                    <v-card-title>
                        Update Product
                    </v-card-title>
                </v-toolbar>
                <!-- edit -->
                    <form @submit.prevent="updateProduct" enctype="multipart/form-data">
                    <v-card-text>
                    <v-text-field label='Name' v-model='editProduct.name' :rules='productRules' :error-messages='error'></v-text-field>
                        <v-textarea height='100' auto-grow label='Description' v-model='editProduct.description' :rules='productRules' :error-messages='error'></v-textarea>
                        <!-- 3 col in 1 row -->
                        <v-row>
                            <v-col cols='4' md='4' xm='3'>
                                <v-select :items='brands' label='Brands' v-model='editProduct.brand' :loading='loading'></v-select>
                            </v-col>
                            <v-col cols='4' md='4' xs='3'>
                                <v-select v-model='editProduct.category' :items='categories' :loading='loading' label='Category'></v-select>
                            </v-col>
                            <v-col cols='4' md='4' xs='3'>
                                <v-text-field label='Price' v-model='editProduct.price' type='number'></v-text-field>
                            </v-col>
                        </v-row>
                        <!-- 3 col in 1 row -->
                        <!-- chips -->
                        <v-row>
                            <v-col cols='12' md='11' xs='10'>
                                <template>
                                  <v-combobox
                                    v-model="editProduct.keywords"
                                    chips
                                    label="Keywords"
                                    multiple
                                    prepend-icon="mdi-filter-variant"
                                    solo
                                    counter='3'
                                    :disabled='blocked'
                                    deletable-chips
                                    :loading='loading'
                                  >
                                    <template v-slot:selection="{ attrs, item, select, selected }">
                                      <v-chip
                                        :disabled='blocked'
                                        v-bind="attrs"
                                        :input-value="selected"
                                        close
                                        @click="select"
                                        @click:close="removeChip(item)"
                                      >
                                        <strong>{{ item }}</strong>&nbsp;
                                        
                                      </v-chip>
                                    </template>
                                  </v-combobox>
                                </template>
                            </v-col>
                            <v-col cols='2' md='1' sm='2'>
                                <v-btn icon class='mt-2' @click="deleteKeywords('edit')">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                        <!-- chips -->
                        <!-- files -->
                        <v-row>
                            <v-col cols='8' md='10' xs='8'>
                                <v-file-input
                                  ref='file'
                                  v-model='editProduct.image'
                                  @change="editImage($event)"
                                  accept="image/png, image/jpeg, image/bmp"
                                  placeholder="Upload Image"
                                  prepend-icon="mdi-camera"
                                  label="Upload Image"
                                 ></v-file-input>
                            </v-col>
                            <v-col cols='4' md='2' xs='2'>
                                <v-img :src='image' alt='img' width='50' height='50'></v-img>
                            </v-col>
                        </v-row>
                        <!-- files -->
                        
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="#6208F9" class='white--text' type='submit'>
                            Update
                        </v-btn>
                    </v-card-actions>
                </form>
                <!-- edit -->
            </v-card>
        </v-dialog>
        <!-- dialog of Edit Category -->
        <v-card>
            <!-- dialog of Add new Category -->
            <v-spacer></v-spacer>
            <v-dialog v-model='dialogAdd' width='700'>
                <template v-slot:activator="{ on, attrs }">
                    <v-btn @click="fetchBrandCategory();dialogAdd = !dialogAdd;blocked=false" color="#6208F9" v-bind="attrs" v-on="on" class='float-left white--text float-right mt-8' fab>
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <!-- delete All btn -->
                    <v-btn :disabled='disabled' @click='deleteAll' fab class='float-right mt-8 ml-4 mr-4' :id="selected.length>0 ? 'green':'' " icon>
                        <v-icon color='red' x-large>mdi-delete</v-icon>
                    </v-btn>
                    <!-- delete All btn -->
                </template>
                <v-card>
                    <v-toolbar class="headline white--text" color='#6208F9'>
                        <v-btn @click='dialogAdd=!dialogAdd' class='white--text' icon>
                            <v-icon>mdi-arrow-left</v-icon>
                        </v-btn>
                        <v-card-title>
                            Add Product
                        </v-card-title>
                    </v-toolbar>
                    <v-form @submit.prevent="addProduct" enctype='multipart/form-data'>
                    <v-card-text>
                    <v-text-field label='Name' v-model='product.name' :rules='productRules' :error-messages='error'></v-text-field>
                        <v-textarea height='100' auto-grow label='Description' v-model='product.description' :rules='productRules' :error-messages='error'></v-textarea>
                        <!-- 3 col in 1 row -->
                        <v-row>
                            <v-col cols='4' md='4' sm='3'>
                                <v-select :items='brands' label='Brands' v-model='product.brand'></v-select>
                            </v-col>
                            <v-col cols='4' md='4' sm='3'>
                                <v-select v-model='product.category' :items='categories' label='Category'></v-select>
                            </v-col>
                            <v-col cols='4' md='4' sm='3'>
                                <v-text-field label='Price' v-model='product.price' type='number'></v-text-field>
                            </v-col>
                        </v-row>
                        <!-- 3 col in 1 row -->
                        <!-- chips -->
                        <v-row>
                            <v-col col='12' md='11' sm='10'>
                                <template>
                                  <v-combobox
                                    v-model="product.keywords"
                                    chips
                                    label="Keywords"
                                    multiple
                                    prepend-icon="mdi-filter-variant"
                                    solo
                                    counter='3'
                                    :disabled='blocked'
                                    deletable-chips
                                  >
                                    <template v-slot:selection="{ attrs, item, select, selected }">
                                      <v-chip
                                        :disabled='blocked'
                                        v-bind="attrs"
                                        :input-value="selected"
                                        close
                                        @click="select"
                                        @click:close="removeChip(item)"
                                      >
                                        <strong>{{ item }}</strong>&nbsp;
                                        
                                      </v-chip>
                                    </template>
                                  </v-combobox>
                                </template>
                            </v-col>
                            <v-col col='2' md='1' sm='2'>
                                <v-btn icon class='mt-2' @click="deleteKeywords('add')">
                                    <v-icon>mdi-close</v-icon>
                                </v-btn>
                            </v-col>
                        </v-row>
                        
                        <!-- chips -->
                        <v-file-input
                          @change="changeFile($event)"
                          ref='file'
                          v-model='product.image'
                          id='img'
                          accept="image/png, image/jpeg, image/bmp"
                          placeholder="Upload Image"
                          prepend-icon="mdi-camera"
                          label="Upload Image"
                         ></v-file-input>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="#6208F9" class='white--text' type='submit'>
                            Add
                        </v-btn>
                    </v-card-actions>
                </v-form>
                </v-card>
            </v-dialog>
            <!-- dialog of Add new Category -->
            <!-- data table -->
            <v-card-title>
                <v-text-field label='Search' v-model='search'></v-text-field>
            </v-card-title>
            <!-- @pagination='paginate' will call call method of paginate and according to 5,10,15 record is loaded it reduce requests 
						laravel will send the object of array (data) which have all the data according to itemPerPage
					server-items-length 

					-->
            <v-data-table 
	            :headers="headers" 
	            :items="products.data" 
	            :items-per-page="5" 
	            :search='search' 
	            @pagination='paginate' 
	            :loading='loading' 
	            class="elevation-1" 
	            :footer-props="{
					'items-per-page-options':[5,10,15],
					'items-per-page-text':'Products Per Page',
					'show-current-page':true,
					'show-first-last-page':true}" 
				:server-items-length='products.total' 
				show-select 
				@input='selectAll'>
                <!-- image -->
                <template v-slot:item.thumbnail="{ item }">
                    <img v-if='item.thumbnail' :src="'storage/' + item.thumbnail" style="width: 50px; height: 50px" />
                 </template>
                <!-- image -->

                <!-- items wo tamam record jis ma action me 2 cheze aegi edit/delete -->
                <template v-slot:item.action='{item}'>
                    <v-btn icon @click='editProducts(item)'>
                        <v-icon color="#6208F9" btn>mdi-circle-edit-outline</v-icon>
                    </v-btn>
                    <v-btn icon @click='deleteProduct(item)'>
                        <v-icon color="red" btn>mdi-delete</v-icon>
                    </v-btn>
                </template>
            </v-data-table>
        </v-card>
        
    </div>
</template>
<script>
export default {
    name: 'Products',
    data() {
        return {
            image:null,
            editData:null,
            blocked:false,
            disabled: true, //for deleteAll
            snackbar: false,
            text: '',
            search: '',
            dialogAdd: false,
            dialogEdit: false,
            loading: false,
            item: null,
            error: '',
            categories:[],
            brands:[],
            product: { name: '', description: '',price:'',image:null,keywords:[],category:"",brand:'' },
            editProduct: { name: '', description: '',price:'',image:null,keywords:[],category:"",brand:''},
       		selected: [],
            headers: [
                { text: '#', value: 'id', filterable: true },
                { text: 'Name', value: 'name' ,sortable:true},
                { text: 'Description', value: 'description' },
                { text: 'Category', value: 'category_id' },
                { text: 'Brand', value: 'brand_id' },
                { text: 'Price', value: 'price' },
                { text: 'Thumbnail', value: 'thumbnail' },
                { text: 'Actions', value: 'action' }
            ],
            products: [],
            productRules: [
                v => !!v || 'Field is Required',

            ]

        }
    },
    methods: {
        deleteKeywords(mode)
        {
            if(mode=='add')
            {
                this.product.keywords=[];
                this.blocked=false;
            }
            else
            {
                this.editProduct.keywords=[];
                this.blocked=false;
            }
        },
        changeFile(e) {
            this.product.image = e;
          },
        editImage(e)
        {
            this.editProduct.image = e;
            console.log(e);
        },
        selectAll(e) {
            this.selected = []; //empty 
            if (e.length > 0) {
                this.selected = e.map(val => val.id);

            }
        },
        paginate(e) {
            //we send page and itemPerPage with laravel automatic
            //check page and send automatic itemperpage -->if itemPerPage is
            //5 then laravel send 5 record
            //e have page?1,5,10 and e have itemsPerPage 
        //receptor start
        axios.interceptors.request.use(e=>(this.loading=!0,e),e=>(this.loading=!1,Promise.reject(e))),axios.interceptors.response.use(e=>(this.loading=!1,e),e=>(this.loading=!1,Promise.reject(e)));
        //receptor end
           // import {receptor} from './receptor.js';
            let token = localStorage.getItem('token');
            axios.get(`/api/products?page=${e.page}`, { params: { 'per_page': e.itemsPerPage } }).then(res => {
                    this.products=res.data.products
                
            }).catch(err => {
                if(err.response.status==401)
                {
                	localStorage.removeItem('token');
                	this.$router.push('/login');
                }
            });
        },
        deleteAll() {
            if (this.selected.length > 0) {
                axios.post('/api/products/delete', { 'products': this.selected })
                    .then(res => {
                        this.text = 'Record Deleted Succesfully';
                        this.selected.map(val => {
                            const index = this.products.data.indexOf(val);
                            this.products.data.splice(index, 1);
                        });
                        this.snackbar = true;
                        this.disabled = true;
                        //map execute for every index it remove according
                        //to index one by one
                    })
                    .catch(err => {
                        this.text = 'Failed to Delete';
                        this.snackbar = true;
                        console.log(this.selected.length);
                    });
            } else
                this.text = 'First Select The Products';
        },
        fetchBrandCategory()
        {
            if(!this.categories.length>0 && !this.brands.length)
            {
                axios.post('/api/products/categories',{})
                .then(res=>{
                    this.categories = res.data.categories;

                });
                axios.post('/api/products/brands',{})
                .then(res=>{
                    this.brands = res.data.brands;
                }); 
            }
        },
        fetchKeywords(id)
        {
            axios.post('/api/products/keywords',{'id':id})
            .then(res=>{this.editProduct.keywords=res.data.keywords});
        },
        updateProduct(e)
        {
           
            let index = this.products.data.indexOf(this.item);
            this.dialogEdit = false;
            let data = new FormData();
            data.append('name',this.editProduct.name);
            data.append('description',this.editProduct.description);
            data.append('price',this.editProduct.price);
            data.append('keywords',this.editProduct.keywords);
            data.append('category',this.editProduct.category);
            data.append('brand',this.editProduct.brand);
            data.append('image',this.editProduct.image);
            //console.log(data.get('image'));
            this.image = this.products.data[index].image;
            //const headers = {'Content-Type': 'multipart/form-data'};
            console.log(data.get('image'));
            axios.put('/api/products/' + this.item.id,this.editProduct)
                .then(res => {
                   
                    Object.assign(this.products.data[index], res.data.product);
                    this.text = 'Record Updated Successfully';
                    this.snackbar = true;
                }).catch(err => {
                   // console.log(err);
                    this.dialogEdit=true;
                    this.error=err.response.data.status;
                    
                });
        },
        addProduct(e) {
            
            this.dialogAdd = false;
            this.blocked=false;
            let data = new FormData();
            data.append('name',this.product.name);
            data.append('description',this.product.description);
            data.append('price',this.product.price);
            data.append('keywords',this.product.keywords);
            data.append('category',this.product.category);
            data.append('brand',this.product.brand);
            data.append('image',this.product.image);
            console.log(data.get('keywords'));
            axios.post('/api/products',data,{headers:{'Content-Type': 'multipart/form-data'}})
                .then(res => {
                    //console.log(res);
                    this.products.data.push(res.data.product);
                   // this.image=this.product.image;
                    this.product = { name: '', description: '',price:'',image:null,keywords:[],category:"",brand:'' }
                   this.text = 'Record Added Successfully';
                   this.snackbar = true;
                    this.error = '';
                    
                })
                .catch(err => {
                    this.dialogAdd = true;
                    this.error = err.response.data.status;
                });
        },
        editProducts(item) { //error
            this.dialogEdit = true;
            // console.log(item);
            let index = this.products.data.indexOf(item);
            console.log(item);
            this.editProduct = {name: item.name, description: item.description,price:item.price,image:item.image,keywords:item.keywords,category:item.category_id,brand:item.brand_id};
            this.fetchBrandCategory();
            this.brands.push(item.brand_id);
            this.categories.push(item.category_id);
            this.item = item;
            this.fetchKeywords(item.id);
            if(this.products.data[index].thumbnail)
                this.image = 'storage/'+this.products.data[index].thumbnail;
                console.log(this.image);
        },
        deleteProduct(item) {
            let index = this.products.data.indexOf(item); // record index to remove from array
            axios.delete('/api/products/' + item.id).then(res => {
                this.products.data.splice(index, 1); //remove from array when deleted from DB
                this.text = 'Record Deleted Successfully';
                this.snackbar = true;
            });
        },
        removeChip(item) {
            this.product.keywords.splice(this.product.keywords.indexOf(item), 1);
            this.product.keywords = [...this.product.keywords]
        },
    },
    watch: {

        selected(newValue, oldValue, ) //if the selected have value
        {
            if (newValue.length != '') //have some data
                this.disabled = false; //disable will remove

            else
                this.disabled = true; //enable the disable
            //if(selected record is greater than 1 then button is active otherwise it is disabled)
            if (this.selected.length > 1)
                this.disabled = false
            else
                this.disabled = true;
        },
        'product.keywords'(newValue,old)
        {
            if(this.product.keywords.length>2)
                this.blocked =true;
        }
        ,
        'editProduct.keywords'(newValue,old)
        {
            if((this.editProduct.keywords.length)>2)
                this.blocked = true;
            
        }
    },
    //props:['albert']

}

</script>
