<template>
	
	<div class='mx-6 my-2'>
		<v-row>
			<v-col cols='11'>
				<h1 class="text-h3">Shop</h1>

			</v-col>
			<v-col cols='1'>
				<v-spacer></v-spacer>
				<v-btn @click='edit=!edit' :class="!edit ? 'primary white--text':''" icon x-large>
                        <v-icon>mdi-circle-edit-outline</v-icon>
                    </v-btn>
			</v-col>
		</v-row>
		
		<v-form ref='shops' v-model="valid">
			<v-row>
				<v-col cols="6" sm="12" md="6">
					<v-text-field v-model="shop.shop_name" :rules="[rules.required]" label="Shop Name" maxlength="20" required :disabled='edit'></v-text-field>
				</v-col>
				<v-col cols="6" sm="12" md="6">
					<v-text-field v-model="shop.location" :rules="[rules.required]" label="Location" maxlength="20" required :disabled='edit'></v-text-field>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="4" sm="12" md="4">
					<v-text-field type='number' disabled v-model="shop.latitude" :rules="[rules.required]" label="Latitude" maxlength="20" required :disabled='edit'></v-text-field>
				</v-col>
				<v-col cols="4" sm="12" md="4">
					<v-text-field type='number' disabled v-model="shop.longitude" :rules="[rules.required]" label="Longitude" maxlength="20" required :disabled='edit'></v-text-field>
				</v-col>
				<v-col cols="4" sm="12" md="4">
					<v-btn type='success' class='primary' @click='getLocation' :disabled='edit'>
						<v-icon >mdi-location-enter</v-icon> Change Location </v-btn><br>
						<small style="color:red">{{location}}</small>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="12" sm="12" md="12">
					<v-text-field v-model="shop.address" :rules="[rules.required]" label="Address" maxlength="20" required :disabled='edit'></v-text-field>
			</v-col>
			<v-btn color="primary" v-if='!edit' :disabled='!valid'> Update </v-btn>
		</v-row>
	</v-form>
	</div>
</template>
<style></style>
<script>
	export default{
		name:'shop',
		mounted(){
			this.valid = false;
			let token = localStorage.getItem('token');
			axios.get(`/api/shops`, { params: {'token': token } }).then(res =>{
				let shop = res.data.shop;
				this.shop = {shop_name:shop.name,location:shop.location,latitude:shop.latitude,longitude:shop.longitude,address:shop.Address}
               
            }).catch(err => {
            	console.log(err);
                // if(err.response.status==401)
                // {
                // 	localStorage.removeItem('token');
                // 	this.$router.push('/login');
                // }
            });
		},
		data()
		{
			return {
				edit:true,
				location:'',
				valid:true,
				shop:{shop_name:'',location:'',latitude:'',longitude:'',address:''},
				rules: {
		  		  required: value => !!value || "Required.",
		  		  min: v => (v && v.length >= 5) || "Min 5 characters"
		  		}
			}
		},
		methods:{
			reset() {
		      this.$refs.form.reset();
		    },
		    resetValidation() {
		      this.$refs.form.resetValidation();
		    },
		    getLocation()
		    {
		    	if (navigator.geolocation) {
		    	    navigator.geolocation.getCurrentPosition(this.setPosition, this.showError);
		    	  } else { 
		    	    x.innerHTML = "Geolocation is not supported by this browser.";
		    	  }
		    },
		    setPosition(position) {
		      // x.innerHTML = "Latitude: " + position.coords.latitude + 
		      // "<br>Longitude: " + position.coords.longitude;
		      this.shop.latitude=position.coords.latitude;
		      this.shop.longitude=position.coords.longitude;
		    },
		    showError(error) {
		      switch(error.code) {
		        case error.PERMISSION_DENIED:
		          this.location = "You denied the request for getting the location. Please allow the location"
		          break;
		        case error.POSITION_UNAVAILABLE:
		          this.location = "Location information is unavailable."
		          break;
		        case error.TIMEOUT:
		          this.location = "The request to get user location timed out."
		          break;
		        case error.UNKNOWN_ERROR:
		          this.location = "An unknown error occurred."
		          break;
		      }
		    }
		}
	}
</script>