<template>
    <div>
        <v-app-bar app class='white--text' color='#6208F9' >
            <v-app-bar-nav-icon @click='drawer=!drawer' class='white--text'></v-app-bar-nav-icon>
            <v-app-bar-title>P-Finder</v-app-bar-title>
            <v-spacer></v-spacer>
            <v-btn icon fab class='white--text' @click='logout'>
              <v-icon>mdi-logout</v-icon>
            </v-btn>
            <v-btn title='account' icon fab class='white--text' to='/admin/account'>
                <v-icon>mdi-account-circle</v-icon>
            </v-btn>
            <!-- <v-switch style='margin-top:15px;margin-left:10px' color='error' inset v-model='theme' append-icon='mdi-weather-night'></v-switch>
             -->
             <v-btn icon @click='theme=!theme'>
               <v-icon>mdi-brightness-3</v-icon>
             </v-btn>
        </v-app-bar>
        <v-navigation-drawer v-model='drawer' app>
          <v-toolbar color='secondary' >
            <v-btn icon color='white'><v-icon>mdi-bank</v-icon></v-btn>
            <v-toolbar-title class='white--text subtitle-2'><b>Shopkeeper Dashboard</b></v-toolbar-title>
          </v-toolbar>
            <v-list rounded>
                  
                  <v-list-item-group mandatory>
                    <v-list-item
                      v-for="(item, i) in items"
                      :key="i"
                      color="info"
                      :to='item.to'

                    >
                      <v-list-item-icon>
                        <v-icon v-text="item.icon"></v-icon>
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title v-text="item.text"></v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
        </v-navigation-drawer>
        <v-main>
          <v-container fluid>
            <v-row>
              <v-col cols='12' :md="drawer ? 12 : 10" xs='12' :class="drawer ? '' : 'offset-md-1'">
                  <router-view></router-view>
              </v-col>
            </v-row>
            <!-- snackbar -->
            <v-snackbar v-model="snackbar">
                  You are LoggedIn Successfully
              <template v-slot:action="{ attrs }">
                    <v-btn text v-bind="attrs" @click="snackbar = false">
                      Close
                    </v-btn>
                  </template>
            </v-snackbar>
          </v-container>
        </v-main>
    </div>
</template>

<script>
    export default {
        data()
        {
            return {
                drawer:false,
                snackbar:false,
                theme:true,
                items: [
                        { text: 'Dashboard', icon: 'mdi-view-dashboard' ,to:'/admin/dashboard'},
                        { text: 'Products', icon: 'mdi-briefcase' ,to:'/admin/products'},
                        { text: 'Brands', icon: 'mdi-gift' ,to:'/admin/brand'},
                        { text: 'Categories', icon: 'mdi-book-multiple' ,to:'/admin/categories'},
                        // { text: 'Advertisment', icon: 'mdi-trending-up' ,to:'/admin/advertisment'},
                        // { text: 'Package', icon: 'mdi-update' ,to:'/admin/package'},
                        { text: 'Shop', icon: 'mdi-city' ,to:'/admin/shop'},
                        { text: 'Account', icon: 'mdi-account' ,to:'/admin/account'},
                      ],
            }
        },
        mounted()
        {
          //this.snakebar = localStorage.getItem('Logged') ? true : false;
          this.$vuetify.theme.light = true;
          if(localStorage.getItem('Logged'))
          {
            this.snackbar = true;
          }
          localStorage.removeItem('Logged');
          //this.$vuetify.theme.dark=true;

        },
        methods:{
          logout()
          {
            localStorage.removeItem('token');
            this.$router.push('/login').then(res=>{
              this.text = 'You are Logged Out Successfully',
              this.snackbar = true
            }).catch(err=> console.log(err));
          }
        },
        watch:{
          theme:function(old,newvalue)
          {
            this.$vuetify.theme.dark = old;
          }
        }
    }
</script>
