<template>
	<v-app>
		<v-progress-linear :active='loading'
			      indeterminate
			      color="indigo accent-3"
			      bottom
		></v-progress-linear>
		<v-main>
			<v-container fluid class='fill-height'>
				<v-row align='center' justify='center'>
					<v-col cols='12' md='4' sm='8'>
						<v-card elevation='12'>
							<v-toolbar dark color='indigo accent-3'>
								<v-toolbar-title>Login</v-toolbar-title>
								<v-spacer></v-spacer>
								<v-icon>mdi-login</v-icon>
							</v-toolbar>
							<v-card-text>
							    <v-form ref='form' v-model="valid">
									<v-text-field label='Username..' prepend-inner-icon='mdi-account-circle' v-model='email' :rules="emailRules" required></v-text-field>
									<v-text-field label='Password' type='password' prepend-inner-icon='mdi-lock' v-model='password' :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'" @click:append="show = !show" :type="show ? 'text' : 'password'" required :rules='pwdRules' ></v-text-field>
								</v-form>
							</v-card-text>
							<v-card-actions>
								<v-spacer/>
								<v-btn block @click='validate' class='indigo accent-3 white--text' :disabled="!valid || loading" :loading='loading'>
									Login
									<v-icon right>mdi-login</v-icon>
								</v-btn>
							</v-card-actions>
						</v-card>
						<v-snackbar v-model="snackbar">
						      {{ text }}
							<template v-slot:action="{ attrs }">
						        <v-btn color="indigo accent-3" text v-bind="attrs" @click="snackbar = false" >
						          Close
						        </v-btn>
						      </template>
						</v-snackbar>
					</v-col>
				</v-row>
			</v-container>
		</v-main>
	</v-app>
</template>
<script>
	export default{
		name:'Login',
		data()
			{
				return {
					email:'',
					password:'',
					loading:false,
					snackbar:false,
					text:'',
					show:false,
					valid:true,
					pwdRules:[
						v=> !!v || 'Password is Required',
						v=> v.length > 4 || 'Minimum 4 Character'
					],
					emailRules: [
					        v => !!v || 'E-mail is required',
					        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
					      ],
				}
			},
			methods:{
				validate(){
				       this.$refs.form.validate();
				       this.login();
				},
				login()
				{
					//receptor start
					axios.interceptors.request.use(e=>(this.loading=!0,e),e=>(this.loading=!1,Promise.reject(e))),axios.interceptors.response.use(e=>(this.loading=!1,e),e=>(this.loading=!1,this.text="Unauthorized",this.snackbar=!0,Promise.reject(e)));
					//receptor end
					//axios receptor end
					axios.post('/api/login',{'email':this.email,'password':this.password}).then(res=>{
							//success authenticated
							if(res.data.isShopkeeper) //if this is shopkeeper
							{
								localStorage.setItem('token',res.data.token);
								localStorage.setItem('Logged',true);
								this.$router.push('/admin/dashboard');	
							}
							else 
							{
								this.text="Your Role is not an Shopkeeper";
								this.snackbar=true;
							}
					}).catch(err=>{
						// console.log(err.response.data);
						//failed unauthorized 403 status forbidden
						this.text = err.response.data.message;
						this.snackbar=true;
					});
				}
			}
	}
</script>