<template>
	<div color='#FBFBFB'>
		<v-app-bar app color='transparent' style='box-shadow: 0 2px 8px 0 #3D5AFE'>
			<v-spacer></v-spacer>
			<v-btn color='#3D5AFE' v-if='logged' class='white--text hidden-sm-and-down' to='/register'>
			  Register
			</v-btn>
			<v-btn v-if='logged' class='yellow white--black hidden-sm-and-down' to='/login'>
			    Sign In
			</v-btn>
			<v-btn v-if='!logged' color='white--text' class='indigo accent-3' @click='logout'>
              <v-icon>mdi-logout</v-icon> Logout
            </v-btn>
		</v-app-bar>
		<v-row>
			<v-col cols='12' md='8' xs='12' class='offset-md-3 offset-sm-1'>
				<v-card class='mt-6' elevation='0'> 
				    <v-card-text>
				    	<v-row>
				    		<v-col cols='12' md='8' sm='10' xs='12'>
				    			<v-img src='storage/images/logo.png' ></v-img>
				    		</v-col>
				    	</v-row>
				        <v-row>
				        	<v-col cols='12' md='10' sm='10' xs='12' offset-x='1'>
				        	<v-form >
							<input :class="[search==''?'':'search']" id='product' type="text" name="" placeholder="Search Product..." autocomplete="off" @keyup='getKeywords' v-model='search' >

							<ul id="results" class="slist" v-show="search!=''">
								<!-- <li @click="searching(keyword)" v-for='keyword in keywords'>{{keyword}}</li> -->
								<router-link id='link' :to="{name:'Result',params:{keyword }}" v-for='(keyword,index) in keywords' :key='index'>{{keyword}}<br></router-link>
							</ul>
						</v-form>
				        	</v-col>
				        </v-row>
				    </v-card-text>
				    <v-card-actions>
				        <router-link  :to="{name:'Result',params:{keyword}}">
				        	<button id="button" class="offset-md-4 m-auto">Search</button>
				        </router-link>
				    </v-card-actions>
				</v-card>
			</v-col>
			<v-snackbar v-model="snackbar"> {{ text }}
				<template v-slot:action="{ attrs }">
					<v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
				</template>
			</v-snackbar>
		</v-row>
	</div>
	
</template>
<script>
//import Result from './Result.vue';
	export default{
		name:'Main',
		//component
		data()
		{
			return {
				title:'Welcome To Product Finder',
				keyword:'',
				search:'',
				text:'',
				snackbar:false,
				searched:null,
				keywords:[],
				sending:null,
				logged:null,
				

			}
		},
		mounted()
		{
			this.$vuetify.theme.light = true;
			let logged = localStorage.getItem('token');
			if(logged)
				this.logged = false;
			else
				this.logged = true;
		},
		methods:{
			logout()
			{
			  localStorage.removeItem('token');
			  this.text = 'You are Logged Out Successfully';
			  this.snackbar = true;
			  this.logged = true;
			 
			},
			getKeywords()
			{
				this.searched = this.search.trimStart();
				if(this.searched.length>0)
				{
					axios.post('/api/products/search',{'search':this.searched})
				   .then(res=>this.keywords=res.data.keywords)
				   .catch(err=>console.log(err));
				}

			},
			searching(value)
			{
				this.sending=value;
				this.$router.push({search: this.sending});
				this.$router.push('/result');
			}
		},
		watch:{
			search(newValue, oldValue) //if the selected have value
			{
				this.keyword = newValue;
			   if(this.search.length<1)
			   {
			   	this.keywords=[];
			   }
		    }
		}
	}
</script>
<style scoped>
#img{
	height: 400px;
	/*background-size: 100% 100%;
	background-repeat: no-repeat;*/
}

#product{
    width:100%;;
    height: 50px;
    border-radius: 24px;
    border: 1px solid #b4caf7;
    text-shadow: 2px grey;
    outline:none;
    font-size:19px;
    padding-left:25px;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    text-transform: bold;
    

    
}
#product:hover{
    box-shadow: 0 2px 8px 0 #3D5AFE;
}
#product:focus{
    box-shadow: 0 2px 8px 0 #3D5AFE;
}
#button{
    
    width:150px;
    height: 50px;
    border-radius:30px;
    outline: none;
    border-color:black;
    background:#dfe1e4; 
    border: none;
    margin-left: 274px;
   
}
/*responsiveness*/ 
/*small devices (phones, 480px and down) */
@media (max-width: 480px) {
  #button{
		margin-left:108px;
	}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#button{
		margin-left:180px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#button{
		margin-left:215px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#button{
		margin-left:274px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
/*responsiveness*/ 
#button:hover,#button:focus{
    box-shadow: 0 4px 8px 0 #3D5AFE;
    color:black;
    background: white;
}
#results{
    width:100%;
    margin-left:0;
    padding-left:22px;
    font-size:20px;
    margin-bottom: 0;
    width:100%;
   list-style:none;
    display: block;
    z-index: 33;
    position: relative;
    line-height: 1.5;
 }
 .slist{
    text-decoration: none;
    list-style:none;
    box-shadow: 0 4px 8px 0 #3D5AFE;
    overflow: hidden;
    margin-left:0;
    
}
#results a:hover,#results a:hover{
    background:#f5f5f5;
    text-decoration: none;
   	margin-top:20px!important;
   	/*padding-top:10px;*/
}
#results a{
	padding:7px;
    text-decoration:none;
    color:black;
    margin-left: -30px;
    padding-left: 33px;
    padding-right: 700px;

}
#link{
	position: relative;
	margin-top:20px!important;
}
#results ul a{
	margin-top:10px;
	height:30px;

}
.bottom{
	box-shadow: 0px -1px 4px #3D5AFE;
}
.search{
	box-shadow: 0 2px 8px 0 #3D5AFE;
	border-bottom: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
</style>