<v-col cols='8' md='8' class='mt-4 offset-md-2'>
		<h1>Registration</h1>
		<v-stepper v-model="e1">
		      <v-stepper-header>
		    <v-stepper-step
		        :complete="e1 > 1"
		        step="1"
		      >
		        Shopkeeper Details
		      </v-stepper-step>

		      <v-divider></v-divider>

		      <v-stepper-step
		        :complete="e1 > 2"
		        step="2"
		      >
		        Shop Details
		      </v-stepper-step>

		      <v-divider></v-divider>

		      <v-stepper-step step="3">
		        Credential Details
		      </v-stepper-step>
		    </v-stepper-header>

		    <v-stepper-items> <!-- shopkeeper details start -->
		      <v-stepper-content step="1">
		        <v-form refs='register1'>
		        	<v-row>
			        	<v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.fname" :rules="[rules.required]" label="First Name" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.lname" :rules="[rules.required]" label="Last Name" maxlength="20" required></v-text-field>
			        	 </v-col>
			        </v-row>
			        <v-row>
			        	<v-col cols="6" sm="12" md="6">
			        	   <label class='v-label theme--light'>Date of Birth:</label>
			        	   <input type="date" v-model='register.dob'>
			        	</v-col>
			        	 <v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="register.phone" :rules="[rules.required]" label="Phone" maxlength="20" required></v-text-field>
			        </v-row>
			        <v-row>
			        	
			        	 </v-col>
			        	 <v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="register.street" :rules="[rules.required]" label="Street" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="register.city" :rules="[rules.required]" label="City" maxlength="20" required></v-text-field>
			        	 </v-col>
			        </v-row>
			        <v-row>
			        	<v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.country" :rules="[rules.required]" label="Country" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.postal_code" :rules="[rules.required]" label="Postal Code" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 
			        </v-row>
		        </v-form>

		        <v-btn
		          color="primary"
		          @click="e1 = 2"
		          :disabled='false'
		        >
		          Continue
		        </v-btn>
		        <v-btn color='error'>
		          Cancel
		        </v-btn>
		      </v-stepper-content><!-- shopkeeper details end -->

		      <v-stepper-content step="2"><!-- shop details start -->
		        <v-form>
		        	<v-row>
			        	<v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.shop_name" :rules="[rules.required]" label="Name" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="location" :rules="[rules.required]" label="Location" maxlength="20" required></v-text-field>
			        	 </v-col>
			        </v-row>
			        <v-row>
			        	<v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="register.latitude" :rules="[rules.required]" label="Latitude" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="register.longitude" :rules="[rules.required]" label="Longitude" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="4" sm="12" md="4">
			        	    <v-btn type='success' @click='getLocation'>
			        	    	<v-icon>mdi-location-enter</v-icon>
			        	    	Get Location
			        	    </v-btn>
			        	 </v-col>

			        </v-row>
			        <v-row>
			        	<v-col cols="12" sm="12" md="12">
			        	    <v-text-field v-model="register.address" :rules="[rules.required]" label="Address" maxlength="20" required></v-text-field>
			        	 </v-col>
			        </v-row>
			        
		        </v-form>

		        <v-btn
		          color="primary"
		          @click="e1 = 3"
		        >
		          Continue
		        </v-btn>
		        <v-btn
		          color="secondary"
		          @click="e1=e1-1"
		        >
		          Back
		        </v-btn>

		        <v-btn color='error'>
		          Cancel
		        </v-btn>
		      </v-stepper-content><!-- shop details end -->

		      <v-stepper-content step="3"><!-- credentials end -->
		        <v-form>
		        	<v-row>
			        	<v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.email" :rules="[rules.required]" label="Email" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="6" sm="12" md="6">
			        	    <v-text-field v-model="register.pwd" :rules="[rules.required]" label="Password" maxlength="20" required></v-text-field>
			        	 </v-col>
			        </v-row>
			        <v-row>
			        	<v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="register.cpwd" :rules="[rules.required]" label="Latitude" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 <v-col cols="4" sm="12" md="4">
			        	    <v-text-field v-model="lastName" :rules="[rules.required]" label="Longitude" maxlength="20" required></v-text-field>
			        	 </v-col>
			        	 
			    </v-form>

		        <v-btn
		          color="primary"
		          @click="e1 = 1"
		        >
		          Submit
		        </v-btn>
		        <v-btn
		          color="secondary"
		          @click="e1=e1-1"
		        >
		          Back
		        </v-btn>
		        <v-btn color='error'>
		          Cancel
		        </v-btn>
		      </v-stepper-content>
		    </v-stepper-items>
		  </v-stepper> <!-- step 3 end -->	
	</v-col>