<template>
	<v-row>
		<v-col cols='8' md='8' class='offset-md-2'>
			<v-toolbar dark color='#6208F9'>
				<v-toolbar-title>Registration</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-icon>mdi-account-arrow-left</v-icon>
			</v-toolbar>
			<v-stepper v-model="e1" color='#6208F9'>
				<v-stepper-header>
					<v-stepper-step :complete="e1 > 1" step="1"> Shopkeeper Details </v-stepper-step>
					<v-divider></v-divider>
					<v-stepper-step :complete="e1 > 2" step="2"> Shop Details </v-stepper-step>
					<v-divider></v-divider>
					<v-stepper-step step="3"> Credential Details </v-stepper-step>
				</v-stepper-header>
				<v-stepper-items>
					<!-- shopkeeper details start -->
					<v-stepper-content step="1">
						<v-form ref='register1' v-model="valid1">
							<v-row>
								<v-col cols="6" sm="12" md="6">
									<v-text-field v-model="register.fname" :rules="[rules.required]" label="First Name" maxlength="20" required></v-text-field>
								</v-col>
								<v-col cols="6" sm="12" md="6">
									<v-text-field v-model="register.lname" :rules="[rules.required]" label="Last Name" maxlength="20" required></v-text-field>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="6" sm="12" md="6">
									<v-text-field type='date' label='Date of Birth' v-model='register.dob' :rules="[rules.required]"></v-text-field>
								</v-col>
								<v-col cols="4" sm="12" md="6">
									<v-text-field type='number' v-model="register.phone" :rules="[rules.required]" label="Phone" maxlength="20" required></v-text-field>
								</v-col>
							</v-row>
							<v-row> 
								<v-col cols="4" sm="12" md="6">
									<v-text-field v-model="register.street" :rules="[rules.required]" label="Street" maxlength="20" required></v-text-field>
								</v-col>
								<v-col cols="4" sm="12" md="6">
									<v-text-field v-model="register.city" :rules="[rules.required]" label="City" maxlength="20" required></v-text-field>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="6" sm="12" md="6">
									<!-- <v-text-field v-model="register.country" :rules="[rules.required]" label="Country" maxlength="20" required></v-text-field> -->
									<v-select
								    :items="countries"
								    label="Country" v-model="register.country" :rules="[rules.required]"
								  ></v-select>
								</v-col>
								<v-col cols="6" sm="12" md="6">
									<v-text-field type='number' v-model="register.postal_code" :rules="[rules.required]" label="Postal Code" maxlength="20" required></v-text-field>
								</v-col>
							</v-row>
						</v-form>
						<v-btn color="primary" @click="e1 = 2" :disabled='!valid1'> Continue </v-btn>
						<v-btn color='error' to='/'> Cancel </v-btn>
					</v-stepper-content>
					<!-- shopkeeper details end -->
					<v-stepper-content step="2">
						<!-- shop details start -->
						<v-form ref='register2' v-model="valid2">
							<v-row>
								<v-col cols="6" sm="12" md="6">
									<v-text-field v-model="register.shop_name" :rules="[rules.required]" label="Shop Name" maxlength="20" required></v-text-field>
								</v-col>
								<v-col cols="6" sm="12" md="6">
									<v-text-field v-model="register.location" :rules="[rules.required]" label="Location" maxlength="20" required></v-text-field>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="4" sm="12" md="4">
									<v-text-field type='number' disabled v-model="register.latitude" :rules="[rules.required]" label="Latitude" maxlength="20" required></v-text-field>
								</v-col>
								<v-col cols="4" sm="12" md="4">
									<v-text-field type='number' disabled v-model="register.longitude" :rules="[rules.required]" label="Longitude" maxlength="20" required></v-text-field>
								</v-col>
								<v-col cols="4" sm="12" md="4">
									<v-btn type='success' @click.prevent='getLocation'>
										<v-icon>mdi-location-enter</v-icon> Get Location </v-btn>
										<br>
									<small style="color:red">{{location}}</small>
								</v-col>
							</v-row>
							<v-row>
								<v-col cols="12" sm="12" md="12">
									<v-text-field v-model="register.address" :rules="[rules.required]" label="Address" maxlength="20" required></v-text-field>
								</v-col>
							</v-row>
						</v-form>
						<v-btn color="primary" @click="e1 = 3" :disabled='!valid2'> Continue </v-btn>
						<v-btn color="secondary" @click="e1=e1-1"> Back </v-btn>
						<v-btn color='error'> Cancel </v-btn>
					</v-stepper-content>
					<!-- shop details end -->
					<v-stepper-content step="3">
						<!-- credentials end -->
						<v-form ref='register3' v-model="valid3">
							<v-row>
								<v-col cols="12">
									<v-text-field v-model="register.email" :rules="emailRules" label="E-mail" required @blur='emailValidate' :error-messages='EmailError'></v-text-field>
									
								</v-col>
								<v-col cols="6">
									<v-text-field v-model="register.pwd" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
								</v-col>
								<v-col cols="6">
									<v-text-field block v-model="register.cpwd" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, passwordMatch]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Confirm Password" counter @click:append="show1 = !show1"></v-text-field>
								</v-col>
							</v-row>
						</v-form>
						<v-btn color="primary" @click='validate' :disabled='!valid3'> Register </v-btn>
						<v-btn color="secondary" @click="e1=e1-1"> Back </v-btn>
						<v-btn color='error'> Cancel </v-btn>
					</v-stepper-content>
				</v-stepper-items>
			</v-stepper>
			<!-- step 3 end -->
		</v-col>
		<template>
			<div class="text-center ma-2">
				
				<v-snackbar v-model="snackbar"> {{ text }}
					<template v-slot:action="{ attrs }">
						<v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
					</template>
				</v-snackbar>
			</div>
		</template>
	</v-row>
</template>
<style></style>
<script>
	export default{
		name:'Registration',
		mounted(){
			axios.post('/api/countries',{}).then(res=>{
							//success authenticated
					this.countries = res.data.countries;		
					}).catch(err=>{
						// console.log(err.response.data);
						//failed unauthorized 403 status forbidden
						
					});
		},
		methods: {
			emailValidate()
			{
				axios.post('/api/emailvalidation',{'email':this.register.email})
				   .then(res=>{this.EmailError=''})
				   .catch(err=>{
				   		this.EmailError=err.response.data.status;
				   });
			},
    	validate(){
		      /*if (this.$refs.register1.validate()) { //form 1 validated
		        // submit form to server/API here...
		         if(this.$refs.register2.validate()) //form 2 validated
		         {
		         	if(this.$refs.register3.validate()) //form 3 validated
		         	{
		         		console.log(this.register);
		         	}
		         }
		      }*/
		      this.$refs.register1.validate();
		      this.$refs.register2.validate();
		      this.$refs.register3.validate();
		      axios.post('/api/register',{'fname':this.register.fname,'lname':this.register.lname,'dob':this.register.dob,'phone':this.register.phone,'street':this.register.street,'city':this.register.city,'country':this.register.country,'postal_code':this.register.postal_code,'shop_name':this.register.shop_name,'location':this.register.location,'latitude':this.register.latitude,'longitude':this.register.longitude,'address':this.register.address,'email':this.register.email,'password':this.register.password}).then(res=>{
							//success authenticated
							console.log(res.data.token);
							console.log(res.data.message);

							this.text = res.data.message;
							localStorage.setItem('token',res.data.token);
							localStorage.setItem('Logged',true);
							this.$router.push('/admin');
					}).catch(err=>{
						console.log(err.response.data);
						//failed unauthorized 403 status forbidden
						
					});
		      
		    },
		    reset() {
		      this.$refs.form.reset();
		    },
		    resetValidation() {
		      this.$refs.form.resetValidation();
		    },
		    getLocation()
		    {
		    	if (navigator.geolocation) {
		    	    navigator.geolocation.getCurrentPosition(this.setPosition, this.showError);
		    	  } else { 
		    	    x.innerHTML = "Geolocation is not supported by this browser.";
		    	  }
		    },
		    setPosition(position) {
		      // x.innerHTML = "Latitude: " + position.coords.latitude + 
		      // "<br>Longitude: " + position.coords.longitude;
		      this.register.latitude=position.coords.latitude;
		      this.register.longitude=position.coords.longitude;
		    },
		    showError(error) {
		      switch(error.code) {
		        case error.PERMISSION_DENIED:
		          this.location = "You denied the request for getting the location. Please allow the location"
		          break;
		        case error.POSITION_UNAVAILABLE:
		          this.location = "Location information is unavailable."
		          break;
		        case error.TIMEOUT:
		          this.location = "The request to get user location timed out."
		          break;
		        case error.UNKNOWN_ERROR:
		          this.location = "An unknown error occurred."
		          break;
		      }
		    }
		  },
		  computed: {
			    passwordMatch() {
			      return () => this.register.pwd === this.register.cpwd || "Password must match";
			    }
			  },
		  data()
		  {
		  	return {
		  		snackbar:false,
		  		text:'',
		  		location:'',
		  		EmailError:'',
		  		valid1:true,
		  		valid2:true,
		  		valid3:true,
		  		menu1:false,
		  		date:null,
		  		countries:[],
		  		e1: 1,
		  		dialog: true,
		  		valid: true,
		  		register:{ fname: '',lname:'',dob:'',phone:'',street:'',city:'',country:'',postal_code:'',shop_name:'',location:'',latitude:'',longitude:'',address:'',email:'',pwd:'',cpwd:''},
		  		loginEmailRules: [
		  		  v => !!v || "Required",
		  		  v => /.+@.+\..+/.test(v) || "E-mail must be valid"
		  		],
		  		emailRules: [
		  		  v => !!v || "Required",
		  		  v => /.+@.+\..+/.test(v) || "E-mail must be valid"
		  		],

		  		show1: false,
		  		rules: {
		  		  required: value => !!value || "Required.",
		  		  min: v => (v && v.length >= 5) || "Min 5 characters"
		  		}
		  		}//return
		 	} //data
		} //export
</script>