<template>
	<div>
		<v-row>
			<v-col cols='12'>
				<v-app-bar :loading='true' app color='#FBFBFB' style='box-shadow:0 2px 8px 0 #3D5AFE' elevation='0.1'>
					<v-app-bar-title>
						<a href="http://localhost:3000/?#/">
						<v-img  src='storage/images/bar.png' class='logo' width='123' height='49'></v-img>
						</a>
					</v-app-bar-title>
					<input @keyup.enter='getMap'  class='tag' type="text" placeholder="Search Here..." v-model='search' :class="[search==undefined || search==''?'':'active']">
					<button id='button' @click='getMap'>Search</button>
					<v-spacer></v-spacer>
					<v-btn v-if='logged' color='#3D5AFE' class='white--text hidden-sm-and-down' to='/register'>
					  Register
					</v-btn>
					<v-btn v-if='logged' class='yellow white--black hidden-sm-and-down' to='/login'>
					    Sign In
					</v-btn>
					<v-btn v-if='!logged' color='white--text' class='indigo accent-3 hidden-sm-and-down' @click='logout'>
              <v-icon>mdi-logout</v-icon> Logout
            	</v-btn>
				</v-app-bar>
			</v-col>
			<v-col cols='12' style='margin-top:40px;'>
				<v-progress-linear :active='loading'
					      :indeterminate='loading'
					      color="indigo accent-3"
					      bottom
				></v-progress-linear>
			</v-col>
		</v-row>
		
		
		<!-- <ul id="results" class="slist" v-show="search!=''">
				 <li @click="searching(keyword)" v-for='keyword in keywords'>{{keyword}}</li>
		</ul> -->
		<div class='content'>
			<v-row style='width: 1400px;'>
				<v-col cols='12' md='7' sm='8' xs='12' v-for='(product,id) in products' :key='id' class='colum'>
					<v-card class='mt-8 ml-12 products' style='box-shadow: 0px 4px 8px #651FF'>
						<router-link v-if='!notFound' :to="{path:'../view/'+product.id+'/'+product.name+'/'+product.distance+'/'+product.shop_id}" class='router_link'>
							<v-card-title class='blue--text' :class="notFound?'notFound':''">{{product.name}}</v-card-title>
						</router-link>
						<v-card-title v-if='notFound' class='blue--text' :class="notFound?'notFound':''">{{product.name}}</v-card-title>
						<v-card-subtitle v-if='!notFound' style='margin-top:-37px;' class='green--text'>
							http://localhost:3000/#/view/{{product.id}}/{{product.name}}
						</v-card-subtitle>
						<v-card-text >
						<span v-if='notFound!=true'>{{product.description.slice(0,400)}}...</span>
							<!-- <img :src="{{product.thumbnail}}" > -->
						</v-card-text>
						<v-divider></v-divider>
						<v-card-actions v-if='!notFound'>
							<h4>Shop Name : {{product.shop_id}}</h4>
							<v-spacer></v-spacer>
							<h4>Shop Distance : {{product.distance}}KM</h4>
						</v-card-actions>
					</v-card>
				</v-col>
				<v-col cols='12' md='5' sm='4' xs='12'>
					<!-- google map start -->
 					<div id='map'>
 						<GmapMap
 						  :center="center"
 						  :zoom="14"
 						  map-type-id="terrain"
 						  style="width: 500px; height: 300px"

 						>

 						<GmapCircle
					    :center="current"
					    :radius="1000"
					    :visible="true"
					    :options="{fillColor:'green',fillOpacity:0.1}"
					  ></GmapCircle>
 						  <gmap-marker
 						      :key="index"
 						      v-for="(m, index) in array"
 						      :position="m.position"
 						      :clickable="true"
 						      :draggable="false"
 						      @click="center=m.position"
 						      class='green--text'
 						      :icon='m.icon'
 						    >
 						    <gmap-info-window
 						    	:position="m.position"
 						    	:opened = "true"

 						    >
 						    	<div class="info-window" style="cursor: pointer;" @click='openGoogleMap(m)'>
 						    		<h2 v-text='m.name'></h2>
 						    		<h4 v-text='m.distance'></h4>
 						    	</div>
 						    </gmap-info-window>
 						   </gmap-marker>
 						    <gmap-polygon :paths="paths"></gmap-polygon>

 						</GmapMap> 
 						<h5>To Visit Shop then Click on that shop</h5>
 					</div>

					<!-- google map end -->
					<v-snackbar v-model="snackbar"> {{ text }}
						<template v-slot:action="{ attrs }">
							<v-btn color="pink" text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
						</template>
					</v-snackbar>
				</v-col>
			</v-row>
		</div>
	</div>

</template>
<script>
// const home = {lat:34.061089,lng:73.154017};
const home = {lat:34.068964,lng:73.150413};
const shop1 = {lat:34.06 ,lng:73.18}; 
const shop2 = {lat:34.07,lng:73.19};

export default{
		name:'Result',
		data(){
			return{
				current:{},
				msg:'Testing message',
				text:'',
				snackbar:false,
				logged:null,
				loading:false,
				notFound:false,
				location:'',
				search:'',
				searched:null,
				keywords:[],
				response:'No',
				markers:[],
				center:home,
				paths:[],
				paths2:[],
				shops:[],
				array:[],
				products:[],
				infoWindowOptions:{

				},
				infoWindowOpened:false,
				currentLocation:{
					  url: "https://img.icons8.com/ios-filled/50/26e07f/marker.png",
					  scaledSize: {width: 40, height: 40},
					  labelOrigin: {x: 16, y: -10}
					}
			}
		},
		methods:{
			logout()
			{
			  localStorage.removeItem('token');
			  this.text = 'You are Logged Out Successfully';
			  this.snackbar = true;
			  this.logged = true;
			},
			openGoogleMap(m)
			{
				let url = `http://maps.google.com/maps?z=12&t=m&q=loc:${m.position.lat}+${m.position.lng}`;
				window.open(url, '_blank');

			},
			getPosition(r)
			{

			},
			controlInfo()
			{

			},
			getKeywords()
			{
				this.searched = this.search.trimStart();
				if(this.searched.length>0)
				{
					axios.post('/api/products/search',{'search':this.searched})
				   .then(res=>{
				   	this.response = 'Yes'
				   	this.keywords=res.data.keywords})
				   .catch(err=>console.log(err));
				}

			},
			searching(val)
			{
				console.log(val);
			},
			sendingData()
			{
				axios.post('/api/products/finding',{'data':this.search})
				.then(res=>console.log(res.data.products.data))
				.catch(err=>console.log(err));
			},
				//google map current start
				getLocation()
			    {
			    	if (navigator.geolocation) {
			    	    navigator.geolocation.getCurrentPosition(this.setPosition, this.showError);
			    	  } else { 
			    	    x.innerHTML = "Geolocation is not supported by this browser.";
			    	  }
			    },
			    setPosition(position) {
		      // x.innerHTML = "Latitude: " + position.coords.latitude + 
		      // "<br>Longitude: " + position.coords.longitude;
		      /*this.current.lat=position.coords.latitude;
		      this.current.lng=position.coords.longitude;*/

		      //changed
		      this.current.lat = 34.068964;
		      this.current.lng = 73.150413;
		      //changed
		    },
			    showError(error) {
		      switch(error.code) {
		        case error.PERMISSION_DENIED:
		          this.location = "You denied the request for getting the location. Please allow the location"
		          break;
		        case error.POSITION_UNAVAILABLE:
		          this.location = "Location information is unavailable."
		          break;
		        case error.TIMEOUT:
		          this.location = "The request to get user location timed out."
		          break;
		        case error.UNKNOWN_ERROR:
		          this.location = "An unknown error occurred."
		          break;
		      }
		    },
				//google map current end
				getMap()
				{
					//location start
					axios.interceptors.request.use(e=>(this.loading=!0,e),e=>(this.loading=!1,Promise.reject(e))),axios.interceptors.response.use(e=>(this.loading=!1,e),e=>(this.loading=!1,Promise.reject(e)));
					//receptor end
					//for current start
					axios.post('/api/shoplocation',{'lat':this.current.lat,'lng':this.current.lng,'input':this.search})
					.then(res=>{
							// console.log(res.data.products);
							this.notFound=false; //changing color
							this.products =res.data.products;
							let shops = res.data.shops;
							//console.log(shops);
						// 	this.markers = [
						// {position:this.current,name:'My Location',distance:'',icon:this.currentLocation},
						// {position:shop1,name:'Zee Shop',distance:'0.4km'},
						// {position:shop2,name:'Shahab Shop',distance:'0.9km'},
						this.array.push({
								position:{lat:this.current.lat,lng:this.current.lng},
								name:'My Location',
								icon:this.currentLocation
							});
						for(let i=0;i<shops.length;i++)
						{
							this.array.push({
								position:{lat:shops[i].latitude,lng:shops[i].longitude},
								name:shops[i].name,
								distance:shops[i].distance.toFixed(2)+'KM'
							});
							this.paths.push(this.current);
							this.paths.push(this.array[i+1].position);
							// this.paths=[this.current,this.array[i].position,this.current,this.array[i+1].position];

						}
						// for(let j=0;j<this.shops.length;j++)
						// {
						// 	if(res.data.products[j].shop_id == res.data.shops[j].name)
						// 	{
						// 		//this.paths = [this.current,this.array[j].position];
						// 		console.log(this.array[j].position)
						// 	}
						// }
						// console.log(this.paths);
						//this.paths=[this.current,this.array[1].position];
						// console.log(this.markers);
						// console.log(this.array);
						})
						.catch(err=>{
							let message = err.response.data.message;
							this.products = [];
							this.products = [{name:message}];
							console.log(message);
							this.notFound=true;
							console.log(err)
						});
						//location end
				}
		}, //methods end
		computed:{
			infoWindowPosition(){
				return {
					lat:current.lat,
					lng:current.lng
				}
				
			}
		},
		mounted()
		{
			let logged = localStorage.getItem('token');
			if(logged)
				this.logged = false;
			else
				this.logged = true;
		},
		created()
		{
			// var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
			// console.log(LatLng);
			this.getLocation();
			this.search = this.keyword;
			this.current.lat = 34.068964;
		      this.current.lng = 73.150413;
			/*this.$refs.mapRef.$mapPromise.then((map) => {
			      map.panTo({lat: 1.38, lng: 103.80})
			    })*/
			// this.markers = [
			// 	{position:this.current,name:'My Location',distance:'',icon:this.currentLocation},
			// 	{position:shop1,name:'Zee Shop',distance:'0.4km'},
			// 	{position:shop2,name:'Shahab Shop',distance:'0.9km'},
			// ];
			this.getMap();

		},
		props:['keyword']
	}
</script>
<style scoped>
#map {
      height: 100%;
      /*margin-top: -185px;*/
      position: fixed;
	    left: 60%;
	    top: 16%;
 }

.content{
	position: absolute;
	top:10%;
}
.tag{
	margin-left:50px;
	overflow:hidden;
	width:600px;
    height: 45px;
    border-radius: 24px;
    border: 1px solid #b4caf7;
    text-shadow: 2px grey;
    outline:none;
    font-size:18px;
    padding-left:25px;
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    text-transform: bold;
}
/*responsive*/
/*small devices (phones, 480px and down) */
@media (max-width: 480px) {

  #map {
      height: 100%;
      /*margin-top: -185px;*/
      position: relative;
	   left: 30%;
	    top: 0%;
 }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	#map {
      height: 100%;
      /*margin-top: -185px;*/
      position: relative;
	   left: 3%;
	    top: 0%;
 }
 .content{
	position: absolute;
	top:10%;
	left:-10%;
}
.tag{width:400px;z-index: 1;}
.logo{
	width:200px;
	z-index: 2;
}
}
/*responsive*/
.tag:hover{
	box-shadow: 0 2px 8px 0 #2962FF;
}
.tag:active{
	box-shadow: 0 2px 8px 0 #2962FF;
}
.products:hover{
box-shadow: 0 2px 8px 0 #2962FF;
}
.active{
	box-shadow: 0 2px 8px 0 #2962FF;
	border-bottom: none;
	/*border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;*/
}
#button{
    width:100px;
    height: 45px;
    margin-left:20px;
    border-radius:30px;
    outline: none;
    border-color:black;
    background:#dfe1e4; 
    border: none;
}
#button:hover,#button:focus{
    box-shadow: 0 2px 8px 0 #3D5AFE;
    color:black;
    background: white;
}
.slist{
	position: relative;
    text-decoration: none;
    list-style:none;
    box-shadow: 0 4px 8px 0 #3D5AFE;
    overflow: hidden;
    border-radius: 10px;
    width:600px;
    margin-left: 189px;
    margin-top: 54px;
    z-index: 5!important;
    background: white;
    font-size:20px;
}

#results li:hover{
    background:#f5f5f5;
    text-decoration: none;
}
.notFound{
	color:red!important;
}
.router_link{
	text-decoration: none;
	margin-top: -37px;
}
.colum
{
	width: 700px;
}
</style>