<template>

  <div v-cloak>
    
    <div v-if="errorStr">
      Sorry, but the following error
      occurred: {{errorStr}}
    </div>
    
    <div v-if="gettingLocation">
      <i>Getting your location...</i>
    </div>
    
    <div v-if="location">
      Your location data is {{ location.coords.latitude }}, {{ location.coords.longitude}}
    </div>
    
  </div>
</template>
<script>
  export default{
    name:'testing',
    data:{
    location:null,
    gettingLocation: false,
    errorStr:null
  },
  created() {
    //do we support geolocation
   if(email.length > 1 && password.length >1)
   {
      return true;
   }
   else
   {
      return 'email and password is required';
   }
  }
  }
</script>