<template>
	<div>
		<v-row>
			<v-col cols='12'>
				<v-app-bar class='title white--text' app color='#6208F9' elevation='0.1'>
					<v-btn icon large to='/result' color='white'>
						<v-icon>mdi-arrow-left</v-icon>
					</v-btn>
					<v-app-bar-title>View Products</v-app-bar-title>
				</v-app-bar>
			</v-col>

			<v-col cols='12' md='8' sm='12' style='margin-top: 55px;'>
				<v-card class='pa-5 ml-2' style='box-shadow:0 2px 8px 0 #3D5AFE'>
					
					<h1 style='color:#6208f9'>{{ name }}</h1>
					<h5>{{product.description}}</h5><br><br>
					<v-divider></v-divider>
					<v-card-actions>
							<h4>Shop Name : {{shop}}</h4>
							<v-spacer></v-spacer>
							<h4>Shop Distance : {{distance}}KM</h4>
					</v-card-actions>
				</v-card>
			</v-col>
			<v-col cols='12' md='4' sm='12'>
				<v-card style='box-shadow:none;margin-top:40px;'>
					<img class='product_image ml-10' :src="'storage/'+product.thumbnail"></img>
				</v-card>
			</v-col>
		</v-row>
	</div>

</template>
<script>
	export default{
		name:'ViewDetails',
		props:['id','name','distance','shop'],
		data()
		{
			return {
				search:'',
				product:null
			}
		},
		methods:{

		},
		mounted()
		{
			axios.post('/api/viewproduct',{'id':this.id})
			.then(res=>this.product = res.data.product)
			.catch(err=>console.log(err));


		}
	}
</script>
<style scoped>
.title {
  flex-grow: 10;
  text-overflow: show;
  
}
.product_image
{
	align-self: center;
	height: 400px;
	background-repeat: no-repeat;
	background-size: contain;
}
</style>